<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>TP Comunicación de Datos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

<header class="header">
    <h1>Trabajo Práctico Integrador</h1>
    <p>Comunicación de Datos - Etapa 2</p>
</header>

<main class="contenedor">
    <section class="tarjetas">
        <a href="/imagenes" class="tarjeta azul">
            <h2>Digitalización de Imágenes</h2>
            <p>Simulación de muestreo, cuantización y comparación visual.</p>
        </a>

        <a href="/codificacion" class="tarjeta violeta">
            <h2>Codificación de Datos</h2>
            <p>Compresión con Huffman y Shannon-Fano.</p>
        </a>
    </section>
</main>

</body>
</html>